@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'Norse Bold';
  src: url('./fonts/Norse-Bold.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ededed;
  --font-color: #1f1f1f;
  --green: #596d48;
  --border-color: #e5e7eb;
  --red: #ef4444;
  --blue: #0ea5e9;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--font-color);
  background-color: var(--bg-color);
  height: 100vh;
  overflow: hidden;
}

.main {
  display: flex;
}

.main__bg {
  width: 700px;
  position: relative;
}

.main__bg-img-container {
  width: 100%;
}

.main__bg-img {
  width: 100%;
}

.main__bg-logo-container {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  width: 100%;
  padding: 16px;
}

.main__bg-logo {
  width: 120px;
  height: auto;
}

.main__bg-logo-container p {
  color: #ffffff;
  font-family: 'Norse Bold';
  font-size: 100px;
  text-transform: uppercase;
}

.thanks {
  font-size: 14px;
  position: absolute;
  color: #ffffff;
  bottom: 110px;
  left: 200px;
}

.thanks a {
  color: #ffffff;
}

.main__form-text-1 {
  margin: 150px 0 40px 60px;
  font-size: 22px;
  font-weight: 600;
  width: 680px;
}

.main__form-text-2 {
  margin: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
}

.main__form form {
  margin-top: 40px;
}

fieldset {
  border: none;
  width: 1220px;
  padding: 18px 60px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

form h2 {
  margin-bottom: 20px;
}

form input {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 6px;
}

.form__row {
  display: flex;
}

.form__row label {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  margin-bottom: 4px;
}

.form__row input {
  font-family: inherit;
  width: 250px;
  margin-bottom: 20px;
  margin-right: 60px;
  font-weight: 500;
}

input:focus {
  outline: none;
  border: 1px solid var(--blue);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

input:invalid {
  border: 1px solid var(--red);
}

.form__btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  margin: 30px 0 0 60px;
  background-color: var(--green);
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 12px 36px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  cursor: pointer;
  transition: transform 0.15s ease-out;
}

.form__btn:hover {
  opacity: 0.8;
}

.form__btn:active {
  transform: scale(0.97);
}

.form__question {
  margin: 30px 0 0 60px;
  font-weight: 500;
}

.form__question a {
  color: var(--green);
  text-decoration: none;
  font-weight: 700;
}
